altair==4.2.0
anaconda-client==1.10.0
anaconda-navigator==2.0.3

autograd==1.4

backports.weakref==1.0.post1
backports.zoneinfo==0.2.1

blinker==1.5
brotlipy==0.7.0
cachetools==5.2.0
catboost==1.0.6
certifi==2022.5.18.1

clyent==1.2.2
commonmark==0.9.1
conda==4.13.0
conda-build==3.21.9

conda-verify==3.4.2
cycler==0.11.0

dill==0.3.5.1
et-xmlfile==1.1.0

Flask==2.2.2
fonttools==4.33.3
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
graphviz==0.20
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==4.12.0

itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0

kiwisolver==1.4.3
Lifetimes==0.11.3
lightgbm==3.3.2
MarkupSafe==2.1.1
matplotlib==3.5.2
menuinst==1.4.16
missingno==0.5.1
mistune==0.8.4
mlxtend==0.20.0
navigator-updater==0.2.1

numpy==1.22.4
openpyxl==3.0.10
pandas==1.2.1

patsy==0.5.2
Pillow==9.0.1
plotly==5.8.0

protobuf==3.20.2

pyarrow==9.0.0
pycosat==0.6.3
pydeck==0.8.0b3
pygame==2.0.2
Pympler==1.0.1

pytz-deprecation-shim==0.1.0.post0
pywin32==302
PyYAML==6.0

rich==12.5.1
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
semver==2.13.0
sip==4.19.13
smmap==5.0.0

statsmodels==0.13.2
streamlit==1.12.2
tenacity==8.0.1

threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0

tzdata==2022.2
tzlocal==4.2
validators==0.20.0
watchdog==2.1.9
webencodings==0.5.1
Werkzeug==2.2.2
wincertstore==0.2
xgboost==1.6.1
xlrd==2.0.1
yellowbrick==1.5
